USE WorldEvents

CREATE TABLE Category (
	Id int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	CategoryName nvarchar(255) NULL
)

CREATE TABLE Continent(
	Id int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	ContinentName nvarchar(255) NULL
)

CREATE TABLE Country(
	Id int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	CountryName nvarchar(255) NULL,
	ContinentId int NULL
)

CREATE TABLE Event(
	EventId int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	EventName varchar(8000) NULL,
	EventDetails varchar(max) NULL,
	EventDate date NULL,
	CountryId int NULL,
	CategoryId int NULL
) 

INSERT Category (CategoryName)
VALUES
('Politics'),
('Alien life'),
('Exploration'),
('Natural world'),
('Death and disaster'),
('War and conflict'),
('Sports'),
('Economy'),
('Entertainment and culture'),
('Health and medicine'),
('Love and relationships'),
('Science and technology'),
('Old'),
('Transport'),
('Energy'),
('Royalty and monarchy'),
('Crime and legal'),
('Religion'),
('Education'),
('General')

INSERT Continent (ContinentName)
VALUES
('Asia'),
('Africa'),
('Europe'),
('Australasia'),
('South America'),
('North America'),
('Antarctic'),
('Not applicable')


